
.main{
  height: 100vh;
  padding: 1rem;
}

.wrapper{
  max-width: 65rem;
  margin-inline: auto;
  border-radius: 12px;
  overflow: hidden;
  color: #fff;
}

@media (min-width:720px) {
  .main{
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .wrapper{
    display: flex;
  }
}
